In [1]:
import pandas as pd
import numpy as np

In [151]:
df = pd.read_csv("df.csv")
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [152]:
df['Match Number'] = df['Match Detail'].str.split(',').str[0]
df['City'] = df['Match Detail'].str.split(',').str[1]
df['Date'] = df['Match Detail'].str.split(',').str[-3] + df['Match Detail'].str.split(',').str[-2]
df['Date'] = df['Date'].str.strip()
df['Winner'] = df['Winning Details'].str.split('won').str[0]

In [153]:
df['Runs Scored in over'] = df['Runs Scored in over'].str.replace('(', '')
df['Runs Scored in over'] = df['Runs Scored in over'].str.replace(')', '')
df['Wicket Taken in over'] = df['Runs Scored in over'].str.split(',').str[1]
df['Wicket Taken in over'] = df['Wicket Taken in over'].str.strip()
df['Wicket Taken in over'] = df['Wicket Taken in over'].str.split(' ').str[0]
df['Runs Scored in over'] = df['Runs Scored in over'].str.split(',').str[0].str.split(' ').str[0]

/var/folders/bp/t3cvrvjj561bp294978fkxnw0000gn/T/ipykernel_38690/2113945547.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Runs Scored in over'] = df['Runs Scored in over'].str.replace('(', '')
/var/folders/bp/t3cvrvjj561bp294978fkxnw0000gn/T/ipykernel_38690/2113945547.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Runs Scored in over'] = df['Runs Scored in over'].str.replace(')', '')

In [154]:
df['Runs Scored till that over'] = df['Runs Scored till that over'].str.strip()
df['Runs Scored till that over'] = df['Runs Scored till that over'].str.split('(').str[0]
df['Wickets Taken till that over'] = df['Runs Scored till that over'].str.split('/').str[1]
df['Runs Scored till that over'] = df['Runs Scored till that over'].str.split('/').str[0]

In [155]:
df['Total Wicket for Team 1'] = df['Total Score for Team 1'].str.split('/').str[1]
df['Total Score for Team 1'] = df['Total Score for Team 1'].str.split('/').str[0]
df['Total Wicket for Team 2'] = df['Total Score for Team 2'].str.split('/').str[1]
df['Total Score for Team 2'] = df['Total Score for Team 2'].str.split('/').str[0]

In [156]:
df['Total Wicket for Team 1'] = df['Total Wicket for Team 1'].fillna(10)
df['Total Wicket for Team 2'] = df['Total Wicket for Team 2'].fillna(10)

In [158]:
df = df[['Year', 'Match Number', 'City', 'Date', 
       'Winner', 'Team 1', 'Team 2', 'Total Score for Team 1', 'Total Wicket for Team 1',
       'Total Score for Team 2', 'Total Wicket for Team 2', 'Batting team',
       'Bowling team', 'Over Number', 'Runs Scored in over',
       'Runs Scored till that over','Wicket Taken in over', 'Wickets Taken till that over', 
        'Winning Details', 'Match Detail']]

In [160]:
df['Total Score for Team 1'] = df['Total Score for Team 1'].astype(int)
df['Total Score for Team 2'] = df['Total Score for Team 2'].astype(int)
df['Total Wicket for Team 1'] = df['Total Wicket for Team 1'].astype(int)
df['Total Wicket for Team 2'] = df['Total Wicket for Team 2'].astype(int)
df['Runs Scored in over'] = df['Runs Scored in over'].astype(int)
df['Runs Scored till that over'] = df['Runs Scored till that over'].astype(int)
df['Wicket Taken in over'] = df['Wicket Taken in over'].astype(int)
df['Wickets Taken till that over'] = df['Wickets Taken till that over'].astype(int)
df['Over Number'] = df['Over Number'].astype(int)
df['Year'] = df['Year'].astype(int)

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21031 entries, 0 to 21030
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          21031 non-null  int64
 1   Match Number                  21031 non-null  object
 2   City                          21031 non-null  object
 3   Date                          21031 non-null  object
 4   Winner                        21031 non-null  object
 5   Team 1                        21031 non-null  object
 6   Team 2                        21031 non-null  object
 7   Total Score for Team 1        21031 non-null  int64
 8   Total Wicket for Team 1       21031 non-null  int64
 9   Total Score for Team 2        21031 non-null  int64
 10  Total Wicket for Team 2       21031 non-null  int64
 11  Batting team                  21031 non-null  object
 12  Bowling team                  21031 non-null  object
 13  Over Number                   21031 non-null  int64
 14  Runs Scored in over           21031 non-null  int64
 15  Runs Scored till that over    21031 non-null  int64
 16  Wicket Taken in over          21031 non-null  int64
 17  Wickets Taken till that over  21031 non-null  int64
 18  Winning Details               21031 non-null  object
 19  Match Detail                  21031 non-null  object
dtypes: int64(10), object(10)
memory usage: 3.2+ MB

In [162]:
df.head()

,Year,Match Number,City,Date,Winner,Team 1,Team 2,Total Score for Team 1,Total Wicket for Team 1,Total Score for Team 2,Total Wicket for Team 2,Batting team,Bowling team,Over Number,Runs Scored in over,Runs Scored till that over,Wicket Taken in over,Wickets Taken till that over,Winning Details,Match Detail
0,2023,1st Match (D/N),Ahmedabad,October 05 2023,New Zealand,ENG,NZ,282,9,283,1,ENG,NZ,1,12,12,0,0,New Zealand won by 9 wickets (with 82 balls re...,"1st Match (D/N), Ahmedabad, October 05, 2023,\..."
1,2023,1st Match (D/N),Ahmedabad,October 05 2023,New Zealand,ENG,NZ,282,9,283,1,ENG,NZ,2,0,12,0,0,New Zealand won by 9 wickets (with 82 balls re...,"1st Match (D/N), Ahmedabad, October 05, 2023,\..."
2,2023,1st Match (D/N),Ahmedabad,October 05 2023,New Zealand,ENG,NZ,282,9,283,1,ENG,NZ,3,4,16,0,0,New Zealand won by 9 wickets (with 82 balls re...,"1st Match (D/N), Ahmedabad, October 05, 2023,\..."
3,2023,1st Match (D/N),Ahmedabad,October 05 2023,New Zealand,ENG,NZ,282,9,283,1,ENG,NZ,4,5,21,0,0,New Zealand won by 9 wickets (with 82 balls re...,"1st Match (D/N), Ahmedabad, October 05, 2023,\..."
4,2023,1st Match (D/N),Ahmedabad,October 05 2023,New Zealand,ENG,NZ,282,9,283,1,ENG,NZ,5,5,26,0,0,New Zealand won by 9 wickets (with 82 balls re...,"1st Match (D/N), Ahmedabad, October 05, 2023,\..."

In [164]:
df.to_csv("world_cup_score.csv", index = False)

In [166]:
df.iloc[2350]

Year                                                                         2023
Match Number                                                           27th Match
City                                                                   Dharamsala
Date                                                              October 28 2023
Winner                                                                 Australia
Team 1                                                                        AUS
Team 2                                                                         NZ
Total Score for Team 1                                                        388
Total Wicket for Team 1                                                        10
Total Score for Team 2                                                        383
Total Wicket for Team 2                                                         9
Batting team                                                                   NZ
Bowling team                                                                  AUS
Over Number                                                                     5
Runs Scored in over                                                            11
Runs Scored till that over                                                     46
Wicket Taken in over                                                            0
Wickets Taken till that over                                                    0
Winning Details                                           Australia won by 5 runs
Match Detail                    27th Match, Dharamsala, October 28, 2023,\nICC...
Name: 2350, dtype: object